<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CreateServlet</servlet-name>
  	<display-name>CreateServlet</display-name>
  	<description></description>
  	<servlet-class>CreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>withDrawServlet</servlet-name>
  	<display-name>withDrawServlet</display-name>
  	<description></description>
  	<servlet-class>withDrawServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>depositServlet</servlet-name>
  	<display-name>depositServlet</display-name>
  	<description></description>
  	<servlet-class>depositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateServlet</servlet-name>
  	<url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>withDrawServlet</servlet-name>
  	<url-pattern>/withDrawServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>depositServlet</servlet-name>
  	<url-pattern>/depositServlet</url-pattern>
  </servlet-mapping>
</web-app>
